<button 
  class="btn btn-primary" 
  type="button"
  data-toggle="collapse" 
  [attr.data-target]="'#collapseExample'+index" 
  [attr.aria-expanded]="!collapse" 
  aria-controls="collapseExample"
  (click)="toogle(index)">
  {{ item }}
  <span>{{ icon(index) }}</span>
</button>

<div 
  class="collapse" 
  [attr.id]="'collapseExample'+index">
  <div class="card card-body">
    <ng-content></ng-content>
  </div>
</div>