<div class="row">
  <div class="col-lg-5" *ngFor="let item of [2018, 2019, 2020]; let i = index">
    
    <collapse [item]="item" [index]="i">
      {{ item }} <br>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
      Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </collapse>

  </div>
</div>

    <!-- <button 
      class="btn btn-primary" 
      type="button"
      data-toggle="collapse" 
      [attr.data-target]="'#collapseExample'+item" 
      [attr.aria-expanded]="!collpase" 
      aria-controls="collapseExample"
      (click)="toogle(i)">
      {{ item }}
      <span>{{ icon(i) }}</span>
    </button> -->

    <!-- <div 
      class="collapse" 
      [attr.id]="'collapseExample'+i">
      <div class="card card-body">
        {{ item }} <br>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div> -->